<div class="weather-item" (click)="onWeatherClicked()" [class.completed]="weather.completed">
    <div class="check-box">
        <i class="material-icons">check</i>
    </div>

    <div class="weather-text">
        {{ weather.text }} 
    </div>


    <div class="weather-controls-box" (click)="$event.stopPropagation()">
        <div class="weather-control-button" (click)="onEditClicked()">
            <i class="material-icons">edit</i>
        </div>

        <div class="weather-control-button is-danger" (click)="onDeleteClicked()">
            <i class="material-icons">delete</i>
        </div>
    </div>
</div>